
#trip1 {
  background-image: url("../src/assets/images/london.jpg") ;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px; /* Adjust height as needed */
  width: 200px;
  position: relative;
}
#trip2 {
  background-image: url("../src/assets/images/paris.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px; /* Adjust height as needed */
  width: 200px;
  position: relative;
}
#trip3 {
  background-image: url("../src/assets/images/rome.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px; /* Adjust height as needed */
  width: 200px;
  position: relative;
}
#trip4 {
  background-image: url("../src/assets/images/venice.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px; /* Adjust height as needed */
  width: 200px;
  position: relative;
}
#booking {
  background-image: url("../src/assets/images/Booking.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px; /* Adjust height as needed */
  width: 480px;
  position: relative;
}

@media screen and (min-width: 1280px) {
  #booking {
    height: 400px; /* Adjust height for screens 1280px and above */
    width: 650px; /* Adjust width for screens 1280px and above */
  }
}