@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

.wrapper {
  max-width: 100%;
  min-width: 100%;
}

#trip1 {
  background-image: url("./london.jpg") ;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px; /* Adjust height as needed */
  width: 200px;
  position: relative;
}
#trip2 {
  background-image: url("./paris.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px; /* Adjust height as needed */
  width: 200px;
  position: relative;
}
#trip3 {
  background-image: url("./rome.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px; /* Adjust height as needed */
  width: 200px;
  position: relative;
}
#trip4 {
  background-image: url("./venice.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px; /* Adjust height as needed */
  width: 200px;
  position: relative;
}
#booking {
  background-image: url("./Booking.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px; /* Adjust height as needed */
  width: 480px;
  position: relative;
}

@media screen and (min-width: 1280px) {
  #booking {
    height: 400px; /* Adjust height for screens 1280px and above */
    width: 650px; /* Adjust width for screens 1280px and above */
  }
}